<html>

<body>
<form action="/register" method="post"  >
    <div class="row">
        <div class="col-sm-5">
            <input type="text" class="form-control" id="User" placeholder="Nom d'utilisateur" name="username">
        </div>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="password">
        </div>
        <div class="col-sm-2">
            <button onclick="return confirm('Vous êtes sur de vouloir ajouter cet utilisateur ?');" type="submit" class="btn btn-default">Ajouter</button>
        </div>
    </div>

</form>
</body>

</html>