<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="/">Membres</a></li>
                <li ><a href="/contenu">Contenu</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <%if (user){%>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.username %> connecté<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/configuration"><span class="glyphicon glyphicon-cog"></span> Configuration </a></li>
                            <li> <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Decconexion </a></li>
                        </ul>
                    </li>
                </ul>
                <% }%>

            </ul>
        </div>
    </div>
</nav>
